src/PeopleSearch.Data/obj/*
src/PeopleSearch.Data.Tests/obj/*
src/packages/
src/PeopleSearch.Data/bin/*
src/PeopleSearch.Data.Tests/bin/*
src/.vs/PeopleSearch/v14/.suo
src/PeopleSearch.Logic/obj/*
src/PeopleSearch.Logic/bin/*
src/PeopleSearch.API/bin/*
src/PeopleSearch.API/obj/*
src/PeopleSearch.Logic.Tests/obj/*
src/PeopleSearch.Logic.Tests/bin/*
src/PeopleSearch.Web/node_modules/*
src/PeopleSearch.Web/bin/*
src/PeopleSearch.Web/app/people/people-list.component.template.html~RF5b1b372.TMP
src/PeopleSearch.Web/obj/*
